.git
.github
.idea
.vscode
.DS_Store
node_modules
vendor
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
.env
.env.*
!.env.example
